.product-item {
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    width: 90%;
}

.product-item h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.75rem;
    color: #343434;
}

.product-item p {
    margin: 0;
    color: #606060;
}

.icons {
    position: relative;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.icons:hover {
    color: rgb(163, 17, 17);
    background-color: rgb(196, 180, 180);

}